body {
  background-color: #121a2b;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.title {
  text-align: center;
  font-size: 80px;
  margin-top: 40px
  position: relative;
  transition: all 0.3s ease;
  }

.title.shrink {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 30px;
  text-align: left;
  margin-top: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
}
