body {
  background-color: #121a2b;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
.title {
  position: relative;
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smooth ease-in-out */
}

.title.shrink {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 30px;
  text-align: left;
  margin-top: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
